{% extends "submitsys\\dashboard.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div class="container">
        <div class="card-deck mb-3 text-center">
            {% for assignment in assignments %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ assignment.assignment_name }}</h4>
                </div>

                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><small class="text-muted">Go to assignment
                        submissions</small></h1>


                    <form action="#" method="get">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Go!</button>
                    </form>
                </div>
            </div>
            {% endfor %}

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Create New Assignment</h4>
                </div>

                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><small class="text-muted">Go to assignment
                        submissions</small></h1>


                    <form action="{% url 'assignment_form' course_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Go!</button>
                    </form>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Enroll New Students</h4>
                </div>

                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><small class="text-muted">Go to assignment
                        submissions</small></h1>


                    <form action="{% url 'new_enrollment' course_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-block btn-primary">Go!</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock%}