<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The assignment creation form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form action="{% url 'course_enrollment' course.id %}" method="post">
    {% csrf_token %}
    <div class="container">
    <div class="form-group">
        <label for="student_upload">Upload Enrollment CSV</label>
        <input type="file" class="form-control-file" id="student_upload" name="student_upload">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</body>
</html>