<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The assignment console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    The following courses are registered in the system:
    <div class="list-group">
        {% for course in courses %}
        <a href="{% url 'student_courses' course.id %}" class="list-group-item list-group-item-action">{{course.course_name}}</a>
        {% endfor %}
    </div>
</div>
</body>
</html>