<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The course console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    The following assignments exist in {{course.course_name}}:
    <div class="list-group">
        {% for assignment in assignments %}
        <a href="{% url 'submission_edit' student.id course.id assignment.id %}" class="list-group-item list-group-item-action">{{assignment.assignment_name}}</a>
        {% endfor %}
    </div>
</div>
</body>