<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The course console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
    <hr/>
        <form action="{% url 'student_login' %}">
            <div class="form-group">
                {% csrf_token %}
                Hello! Please enter your ID number below.
                <input type="textarea" class='form-control' name="student_id" placeholder="Student ID number" value=""/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>