<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The assignment creation form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form action="{% url 'submission_save' student.id course.id assignment.id submission.id %}" method="post">
    {% csrf_token %}
    <div class="container">
        Edit your submission for assignment {{assignment.assignment_name}}
        <div class=form-group">
            <label for="filename">File Name</label>
            <input type="text" class="form-control" id="filename" name="filename" placeholder="{{submission.file_name}}">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</body>
</html>