<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The assignment creation form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{% csrf_token %}
<div class="container">
    Edit your submission for assignment {{assignment.assignment_name}}
    {% if files %}
    {% for file in files %}
    <form action="{% url 'submission_file_save' student.id course.id assignment.id submission.id %}" method="post">
        {% csrf_token %}
        <div class=form-group">
            <input type="hidden" name="id" value="{{file.id}}">
            <label for="filename">File Name</label>
            <input type="text" class="form-control" id="filename" name="filename" value="{{file.file_name}}">
        </div>
        <div class=form-group">
            <label for="filebody">File Contents</label>
            <textarea class="form-control" id="filebody" name="filebody" rows='5'>{{file.file_contents}}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% endfor %}
    {% else %}
    <br> To start a submission, upload a file below
    {% endif %}
</div>
<div class="container">
    <form action="{% url 'submission_file_create' student.id course.id assignment.id submission.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="fileUpload">Upload New File</label>
            <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>